* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f6f8;
}

.container {
  margin: 121px auto;
  width: 730px;
}

.job-info__job-company {
  background: #ffffff;
  border-radius: 6px;
  padding: 42px 42px 42px 180px;
}

.job-info__job-info {
  display: flex;
  justify-content: space-between;
}

.job-info__job-position {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #19202d;
}

.job-info__company-name {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #6e8098;
  margin-top: 7px;
}

.job-info__website-btn {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #5964e0;
  padding: 14px 20px;
  border-radius: 5px;
  border: none;
  background-color: #eef0fc;
}

.job-info__content {
  background: #ffffff;
  border-radius: 6px;
  margin-top: 32px;
  padding: 48px 43px 48px 48px;
}

.job-info__time {
  display: flex;
}

.job-info__upload {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #6e8098;
  margin-right: 29px;
}

.work-time {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #6e8098;
}

.job-info__header {
  display: flex;
  justify-content: space-between;
}

.job-info__job-position-head {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #19202d;
  margin-top: 8px;
  margin-bottom: 8px;
}

.job-info__job-locations {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #5964e0;
}

.job-info__aply-btn {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 16px 28px;
  background: #5964e0;
  border-radius: 5px;
  border: none;
}

.job-info__description {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6e8098;
  margin-top: 40px;
}

.job-info__see-more-link {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-decoration-line: underline;
  color: #5964e0;
}

.job-info__requirements {
  margin-top: 48px;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #19202d;
  margin-bottom: 23px;
}

.job-info__requirements-description {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6e8098;
}

.job-info__requirements-pluses {
  margin-top: 24px;
}

.job-info__requirements-plus {
  margin-left: 18px;
  margin-bottom: 8px;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6e8098;
}

.job-info__pluswhat-you-will-do {
  margin-top: 48px;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #19202d;
  margin-bottom: 28px;
}

.job-info__pluswhat-you-will-do-description {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6e8098;
  margin-bottom: 20px;
}

.job-info__pluswhat-you-will-do-description-second {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6e8098;
}

.job-info__pluswhat-you-will-do-list {
  margin-left: 18px;
  margin-top: 16px;
}

.job-info__pluswhat-you-will-do-element {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6e8098;
  margin-top: 8px;
}

.job-info__how-to-apply {
  background: #5964e0;
  border-radius: 6px;
  padding: 41.5px 45.5px;
  margin-top: 33px;
}

.job-info__how-to-apply-header {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 28px;
}

.job-info__how-to-apply-description {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 30px;
}

.job-info__how-to-apply-link {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-decoration-line: underline;
  color: #ffffff;
}
