

.category {
  background: #f2f4ff;
  border-radius: 10px;
  padding: 5px 16px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #4661e6;
  margin-bottom: 14px;
  margin-right: 8px;
  display: inline-block;
  cursor: pointer;
  border: none;
}

.category:hover {
  background-color: #cfd7ff;
}

